html {
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
}

.logo img {
    position: absolute;
}

nav {
    background-color: yellow;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #474E68;
    padding: 0;
    margin: 0;
}

li {
    float: right;
    width: 10rem;
}

li a {
    background-color: #474E68;
    color: floralwhite;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

.active {
    background-color: #404258;
}

li a:hover:not(.active) {
    background-color: #50577A;
}

main {
    background-color: #6B728E;
    padding-bottom: 3.75rem;
}

section {
    margin: 0 10rem 0;
    display: flex;
    flex-wrap: wrap;
}

.products {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.products h2 {
    text-align: left;
}

.products figcaption {
    max-width: 1024px;
    margin-bottom: 8rem;
    padding-top: 1rem;
}

.products img {
    max-width: 1024px;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

article h3 {
    padding: 0;
    text-align: left;
    margin: auto auto 1rem 1rem;
}

article {
    background-color: #474E68;
    width: calc(100% / 5);
    padding: 1rem 1rem 0;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 8px;
    color: wheat;
}

figure {
    margin: auto;
    border-radius: 8px;
}

figure img {
    width: 100%;
    height: auto;
}

article figcaption {
    font-style: italic;
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #c4c4c4;
}
