html {
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
}

.logo img {
    position: absolute;
}

nav {
    background-color: yellow;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #474E68;
    padding: 0;
    margin: 0;
}

li {
    float: right;
    width: 10rem;
}

li a {
    background-color: #474E68;
    color: floralwhite;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

.active {
  background-color: #404258;
}

li a:hover:not(.active) {
    background-color: #50577A;
}

main {
    background-color: #6B728E;
    padding-top: 12rem;
    padding-bottom: 0.5rem;
}

main h1 {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

main img {
    width: 100%;
    max-width: 1024px;
    height: auto;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

main p {
    padding: 0 30rem 5rem 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
